**/*.class
/**/*.iml
**/.idea/**
**/build/**
**/.gradle/**
**/local.properties
*.~ava
*.*~

*/*.docx\#

*.aux
*.toc
*.gz
*.bbl
*.blg
*.dvi

!impl/ev3app/build/*
!impl/ev3app/build/libs/*

doc/*/*.log
admin/Scripts/twrp-3.2.1-1-hammerhead.img
admin/Scripts/lineage-14.1-20181004-nightly-hammerhead-signed.zip
admin/Scripts/addonsu-14.1-arm-signed (1).zip
impl/programs - Verknüpfung.lnk
MindroidPoolFiles.zip
impl/androidApp/gradle.properties
